@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,900&family=Sora:wght@100..800&display=swap');

body, html {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


html{
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden;
  overflow-y: auto;
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}


.swiper-pagination-bullet {
  background-color: white !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.5 !important;
  border-radius: 9999px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #facc15 !important; 
  opacity: 1 !important;
  scale: 1.2;
}

